<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="EnterpriseApps.Droid.EnterpriseApps.Droid" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="EnterpriseApps.Droid" android:theme="@style/AppTheme" android:supportsRtl="true" android:allowBackup="true">
		<activity 
		android:name="UserListActivity" 
		android:label="@string/app_name" 
		android:theme="@style/AppTheme.NoActionBar"> 
		</activity>
	</application>
</manifest>